body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('https://images.pexels.com/photos/910213/pexels-photo-910213.jpeg?cs=srgb&dl=two-person-riding-boat-on-body-of-water-910213.jpg&fm=jpg');
  background-size: no-repeat;
}
